@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    /* font-family: "Poetsen One", sans-serif; */
    --primaryfont: "Poetsen One", sans-serif;
  }

body {
    background:/* rgb(70, 91, 99); */
    position: absolute;
    width: 1215px;
    height: 949px;
    background: radial-gradient(50% 81.96% at 50% 50%, #1EB6E7 0%, #3AEAC0 16.67%, #1EB6E7 33.33%, #3AEAC0 50%, #1EB6E7 66.67%, #3AEAC0 83.33%, #1EB6E7 100%);


}

p {
    background-color: rgba(18, 23, 156, 0.3);
    width: 600px;
    margin-left: 50%;
    margin-right: 50%;
    position: relative;
    top: 45px; */
}

h1 {
    font-family: var(--primaryfont);
    background-color: rgb(127, 255, 212, 0.6);
    margin-left:50%;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 101;
}

h3 {
    font-family: var(--primaryfont);
    position: relative;
    top: 60px;
    left: 50%;
}

span {
    color: var(--color2);
  
  background: var(--color3);
  margin: 3px;
  padding-bottom: 3px;

  font-size: 2rem;
  float: left;

}